@import "tailwindcss";

@layer base {
  input:-webkit-autofill {
    box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: inherit !important;
    caret-color: inherit;
  }
  input:-internal-autofill-selected {
    background-color: transparent;
  }
}